---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import IntroSection from '../components/IntroSection.astro';
import DiagnosticSection from '../components/DiagnosticSection.astro';
---
<BaseLayout>
  <main>
    <Hero />
    <IntroSection />
    <DiagnosticSection />
  </main>
</BaseLayout>
 
