---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import IntroSection from '../components/IntroSection.astro';
---

<BaseLayout>
  <main>
    <Hero />
    <IntroSection />
  </main>
</BaseLayout>
