---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import IntroSection from '../components/IntroSection.astro';
import DiagnosticSection from '../components/DiagnosticSection.astro';
import PrismTeaserSection from '../components/PrismTeaserSection.astro';
import FilmTeaserSection from '../components/FilmTeaserSection.astro';
---
<BaseLayout>
  <main>
    <Hero />
    <IntroSection />
    <DiagnosticSection />
    <PrismTeaserSection />
    <FilmTeaserSection />
  </main>
</BaseLayout>
 
